<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Категории</h2>
        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/products/conditioners.html"><i class="fa fa-archive" aria-hidden="true"></i> Кондиционеры</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/products/fridges.html"><i class="fa fa-archive" aria-hidden="true"></i> Холодильники</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/products/washings.html"><i class="fa fa-archive" aria-hidden="true"></i> Стиральные машинки</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/products/hobs.html"><i class="fa fa-archive" aria-hidden="true"></i> Газ. Панели</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/products/ovens.html"><i class="fa fa-archive" aria-hidden="true"></i> Духовые шкафы</a></h4>
                </div>
            </div>
        </div><!--/category-products-->

        <% if(listBrands && listBrands.length > 0) { %>
        <div class="brands_products"><!--brands_products-->
            <h2>Бренды</h2>
            <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">
                    <% for(var i = 0;i < listBrands.length;i++){ %>
                    <li><a href="/brand/<%= listBrands[i].name.toLowerCase() %>.html"> <%= listBrands[i].name %></a></li>
                    <% } %>
                </ul>
            </div>
        </div><!--/brands_products-->
        <% } %>

        <div class="price-range"><!--price-range-->
            <h2>Цена</h2>
            <div class="well text-center">
                <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600"
                       data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br/>
                <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
            </div>
        </div><!--/price-range-->

        <div class="shipping text-center"><!--shipping-->
            <img src="/images/home/shipping.jpg" alt=""/>
        </div><!--/shipping-->

    </div>
</div>