<%- partial('partials/header') %>
<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free E-Commerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/home/girl1.jpg" class="girl img-responsive" alt=""/>
                                <img src="images/home/pricing.png" class="pricing" alt=""/>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>100% Responsive Design</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/home/girl2.jpg" class="girl img-responsive" alt=""/>
                                <img src="images/home/pricing.png" class="pricing" alt=""/>
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free Ecommerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/home/girl3.jpg" class="girl img-responsive" alt=""/>
                                <img src="images/home/pricing.png" class="pricing" alt=""/>
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->
<section>
    <div class="container">
        <div class="row">
            <%- partial('partials/category', {listBrands: listBrands}) %>

            <div class="col-sm-9 padding-right">
                <% for( var category in allItems){ %>
                <div class="features_items">
                    <h2 class="title text-center"><%= RelationHelper.getProductClass(category).name %></h2>
                    <% for(var i = 0;i < allItems[category].length;i++){ %>
                    <div class="col-sm-4<%= i > 4 ? ' hideBlock' : '' %>">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <div class="product-image">
                                        <% if(allItems[category][i].image) { %>
                                        <img src="<%= allItems[category][i].image_dir + 'big_' + allItems[category][i].image %>"
                                             alt=""/>
                                        <% } else { %>
                                        <img src="images/no-image.jpg" alt=""/>
                                        <% } %>
                                    </div>
                                    <h2><%= allItems[category][i].price ? '$' + allItems[category][i].price : '$0' %></h2>
                                    <p class="ellipsis"><%= allItems[category][i].mark + ', ' + allItems[category][i].model %></p>
                                    <a href="/<%= category %>/<%= allItems[category][i].slug %>.html"
                                       class="btn btn-warning add-to-cart"><i
                                                class="fa fa-bookmark"></i>Смотреть подробнее</a>
                                    <!--                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Добавить
                                                                            в корзину</a>-->
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2><%= allItems[category][i].price ? '$' + allItems[category][i].price : '$0' %></h2>
                                        <p class="ellipsis"><%= allItems[category][i].mark + ', ' + allItems[category][i].model %></p>
                                        <a href="/<%= category %>/<%= allItems[category][i].slug %>.html"
                                           class="btn btn-warning add-to-cart"><i
                                                    class="fa fa-bookmark"></i>Смотреть подробнее</a>
                                        <!--<a href="#" class="btn btn-default add-to-cart"><i
                                                    class="fa fa-shopping-cart"></i>Добавить в корзину</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if(i == 4) { %>
                    <div class="col-sm-4 blockMore">
                        <div class="product-image-wrapper">
                            <div class="product-overlay">
                                Смотреть все<br/>
                                <b><%= allItems[category].length %></b>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <% } %>
                    <% if(allItems[category].length > 6){ %>
                    <div class="col-sm-4 blockMoreHide hideBlock">
                        <div class="product-overlay">
                            Скрыть
                        </div>
                    </div>
                    <% } %>
                </div>
                <% } %>

            </div>
        </div>
    </div>
</section>
<%- partial('partials/footer') %>