<dl>
    <dt><span>Марка</span><div></div></dt>
    <dd><%= item.mark %></dd>

    <% if(item.model){ %>
    <dt><span>Модель</span><div></div></dt>
    <dd><%= item.model %></dd>
    <% } %>

    <% if(item.color){ %>
    <dt><span>Цвет внешнего блока</span><div></div></dt>
    <dd><%= item.color %></dd>
    <% } %>

    <% if(item.manufacturer){ %>
    <dt><span>Производитель</span><div></div></dt>
    <dd><%= item.manufacturer %></dd>
    <% } %>

    <% if(item.type){ %>
    <dt><span>Тип</span><div></div></dt>
    <dd><%= item.type %></dd>
    <% } %>

    <% if(item.serviced_area){ %>
    <dt><span>Обслуживаемая площадь</span><div></div></dt>
    <dd><%= item.serviced_area %></dd>
    <% } %>

    <% if(item.energy_class){ %>
    <dt><span>Класс энергопотребления</span><div></div></dt>
    <dd><%= item.energy_class %></dd>
    <% } %>

    <% if(item.modes){ %>
    <dt><span>Основные режимы</span><div></div></dt>
    <dd><%= item.modes %></dd>
    <% } %>

    <% if(item.cooling_capacity){ %>
    <dt><span>Мощность в режиме охлаждения</span><div></div></dt>
    <dd><%= item.cooling_capacity %></dd>
    <% } %>

    <% if(item.heating_power){ %>
    <dt><span>Мощность в режиме обогрева</span><div></div></dt>
    <dd><%= item.heating_power %></dd>
    <% } %>

    <% if(item.power_heating){ %>
    <dt><span>Потребляемая мощность при обогреве</span><div></div></dt>
    <dd><%= item.power_heating %></dd>
    <% } %>

    <% if(item.power_cooling){ %>
    <dt><span>Потребляемая мощность при охлаждении</span><div></div></dt>
    <dd><%= item.power_cooling %></dd>
    <% } %>

    <% if(item.additional_modes){ %>
    <dt><span>Дополнительные режимы</span><div></div></dt>
    <dd><%= item.additional_modes %></dd>
    <% } %>

    <% if(item.drying_mode){ %>
    <dt><span>Режим осушения</span><div></div></dt>
    <dd><%= item.drying_mode %></dd>
    <% } %>

    <% if(item.d_u){ %>
    <dt><span>Д/У</span><div></div></dt>
    <dd><%= item.d_u %></dd>
    <% } %>

    <% if(item.timer){ %>
    <dt><span>Таймер включения/выключения</span><div></div></dt>
    <dd><%= item.timer %></dd>
    <% } %>

    <% if(item.noise_level){ %>
    <dt><span>Уровень шума внутреннего блока</span><div></div></dt>
    <dd><%= item.noise_level %></dd>
    <% } %>

    <% if(item.phase){ %>
    <dt><span>Фаза</span><div></div></dt>
    <dd><%= item.phase %></dd>
    <% } %>

    <% if(item.air_filters){ %>
    <dt><span>Фильтры тонкой очистки воздуха</span><div></div></dt>
    <dd><%= item.air_filters %></dd>
    <% } %>

    <% if(item.fan_control){ %>
    <dt><span>Регулировка скорости вращения вентилятора</span><div></div></dt>
    <dd><%= item.fan_control %></dd>
    <% } %>

    <% if(item.minimum_temperature){ %>
    <dt><span>Минимальная температура для эксплуатации кондиционера в режиме обогрева</span><div></div></dt>
    <dd><%= item.minimum_temperature %></dd>
    <% } %>

    <% if(item.additional_information){ %>
    <dt><span>Дополнительная информация</span><div></div></dt>
    <dd><%= item.additional_information %></dd>
    <% } %>

    <% if(item.other_functions){ %>
    <dt><span>Другие функции и особенности</span><div></div></dt>
    <dd><%= item.other_functions %></dd>
    <% } %>

    <% if(item.dimensions){ %>
    <dt><span>Габариты внутреннего блока</span><div></div></dt>
    <dd><%= item.dimensions %></dd>
    <% } %>

    <% if(item.weight_indoor){ %>
    <dt><span>Габариты наружнего блока</span><div></div></dt>
    <dd><%= item.weight_indoor %></dd>
    <% } %>

    <% if(item.dimensions_outdoor){ %>
    <dt><span>Вес внутреннего блока</span><div></div></dt>
    <dd><%= item.dimensions_outdoor %></dd>
    <% } %>

    <% if(item.weight_external){ %>
    <dt><span>Вес внешнего блока</span><div></div></dt>
    <dd><%= item.weight_external %></dd>
    <% } %>

    <% if(item.freon){ %>
    <dt><span>Фреон</span><div></div></dt>
    <dd><%= item.freon %></dd>
    <% } %>

</dl>