<dl>
    <dt><span>Марка</span>
    <div></div>
    </dt>
    <dd><%= item.mark %></dd>

    <dt><span>Модель</span>
    <div></div>
    </dt>
    <dd><%= item.model %></dd>

    <% if(item.color){ %>
    <dt><span>Цвет</span>
    <div></div>
    </dt>
    <dd><%= item.color %></dd>
    <% } %>

    <% if(item.manufacturer){ %>
    <dt><span>Производитель</span>
    <div></div>
    </dt>
    <dd><%= item.manufacturer %></dd>
    <% } %>

    <% if(item.type){ %>
    <dt><span>Тип панели</span>
    <div></div>
    </dt>
    <dd><%= item.type %></dd>
    <% } %>

    <% if(item.dimensions){ %>
    <dt><span>Габариты</span>
    <div></div>
    </dt>
    <dd><%= item.dimensions %></dd>
    <% } %>

    <% if(item.dimensions_embedding){ %>
    <dt><span>Размеры для встраивания</span>
    <div></div>
    </dt>
    <dd><%= item.dimensions_embedding %></dd>
    <% } %>

    <% if(item.material){ %>
    <dt><span>Материал панели</span>
    <div></div>
    </dt>
    <dd><%= item.material %></dd>
    <% } %>

    <% if(item.total_hotplates){ %>
    <dt><span>Всего конфорок</span>
    <div></div>
    </dt>
    <dd><%= item.total_hotplates %></dd>
    <% } %>

    <% if(item.gas_burners){ %>
    <dt><span>Количество газовых конфорок</span>
    <div></div>
    </dt>
    <dd><%= item.gas_burners %></dd>
    <% } %>

    <% if(item.type_consolidation){ %>
    <dt><span>Тип упровления</span>
    <div></div>
    </dt>
    <dd><%= item.type_consolidation %></dd>
    <% } %>

    <% if(item.location_control){ %>
    <dt><span>Расположение панели управления</span>
    <div></div>
    </dt>
    <dd><%= item.location_control %></dd>
    <% } %>

    <% if(item.security_system){ %>
    <dt><span>Система безопастности</span>
    <div></div>
    </dt>
    <dd><%= item.security_system %></dd>
    <% } %>

    <% if(item.electric_ignition){ %>
    <dt><span>Электроподжиг</span>
    <div></div>
    </dt>
    <dd><%= item.electric_ignition %></dd>
    <% } %>

    <% if(item.gas_control){ %>
    <dt><span>Газ-контроль конфорок</span>
    <div></div>
    </dt>
    <dd><%= item.gas_control %></dd>
    <% } %>

    <% if(item.iron_grilles){ %>
    <dt><span>Чугунные решетки</span>
    <div></div>
    </dt>
    <dd><%= item.iron_grilles %></dd>
    <% } %>

    <% if(item.display_type){ %>
    <dt><span>Тип дисплея</span>
    <div></div>
    </dt>
    <dd><%= item.display_type %></dd>
    <% } %>

</dl>