<dl>
    <dt><span>Марка</span><div></div></dt>
    <dd><%= item.mark %></dd>

    <dt><span>Модель</span><div></div></dt>
    <dd><%= item.model %></dd>

    <% if(item.color){ %>
    <dt><span>Цвет внешнего блока</span><div></div></dt>
    <dd><%= item.color %></dd>
    <% } %>

    <% if(item.manufacturer){ %>
    <dt><span>Производитель</span><div></div></dt>
    <dd><%= item.manufacturer %></dd>
    <% } %>

    <% if(item.download_type){ %>
    <dt><span>Тип загрузки</span><div></div></dt>
    <dd><%= item.download_type %></dd>
    <% } %>

    <% if(item.maximum_load){ %>
    <dt><span>Максимальная загрузка</span><div></div></dt>
    <dd><%= item.maximum_load %></dd>
    <% } %>

    <% if(item.drying){ %>
    <dt><span>Сушка</span><div></div></dt>
    <dd><%= item.drying %></dd>
    <% } %>

    <% if(item.control){ %>
    <dt><span>Управление</span><div></div></dt>
    <dd><%= item.control %></dd>
    <% } %>

    <% if(item.display){ %>
    <dt><span>Дисплей</span><div></div></dt>
    <dd><%= item.display %></dd>
    <% } %>

    <% if(item.direct_drive){ %>
    <dt><span>Прямой привод</span><div></div></dt>
    <dd><%= item.direct_drive %></dd>
    <% } %>

    <% if(item.dimensions){ %>
    <dt><span>Габариты</span><div></div></dt>
    <dd><%= item.dimensions %></dd>
    <% } %>

    <% if(item.weight){ %>
    <dt><span>Вес</span><div></div></dt>
    <dd><%= item.weight %></dd>
    <% } %>

    <% if(item.color){ %>
    <dt><span>Цвет</span><div></div></dt>
    <dd><%= item.color %></dd>
    <% } %>

    <% if(item.energy_class){ %>
    <dt><span>Класс энергопотребления</span><div></div></dt>
    <dd><%= item.energy_class %></dd>
    <% } %>

    <% if(item.number_revolutions){ %>
    <dt><span>Количество оборотов</span><div></div></dt>
    <dd><%= item.number_revolutions %></dd>
    <% } %>

    <% if(item.protection_children){ %>
    <dt><span>Защита от детей</span><div></div></dt>
    <dd><%= item.protection_children %></dd>
    <% } %>

    <% if(item.control_imbalance){ %>
    <dt><span>Контроль дисбаланса</span><div></div></dt>
    <dd><%= item.control_imbalance %></dd>
    <% } %>

    <% if(item.foam_control){ %>
    <dt><span>Контроль за уровнем пены</span><div></div></dt>
    <dd><%= item.foam_control %></dd>
    <% } %>

    <% if(item.number_programs){ %>
    <dt><span>Количество программ</span><div></div></dt>
    <dd><%= item.number_programs %></dd>
    <% } %>

    <% if(item.programs){ %>
    <dt><span>Специальные программы</span><div></div></dt>
    <dd><%= item.programs %></dd>
    <% } %>

    <% if(item.delay_timer){ %>
    <dt><span>Таймер отсрочки начала стирки</span><div></div></dt>
    <dd><%= item.delay_timer %></dd>
    <% } %>

    <% if(item.material){ %>
    <dt><span>Материал бака</span><div></div></dt>
    <dd><%= item.material %></dd>
    <% } %>

    <% if(item.loading_door){ %>
    <dt><span>Загрузочный люк</span><div></div></dt>
    <dd><%= item.loading_door %></dd>
    <% } %>

    <% if(item.noise){ %>
    <dt><span>Уровень шума</span><div></div></dt>
    <dd><%= item.noise %></dd>
    <% } %>

    <% if(item.loading_linen){ %>
    <dt><span>Догрузка белья</span><div></div></dt>
    <dd><%= item.loading_linen %></dd>
    <% } %>

    <% if(item.additional_features){ %>
    <dt><span>Дополнительные возможности</span><div></div></dt>
    <dd><%= item.additional_features %></dd>
    <% } %>

    <% if(item.annual_consumption){ %>
    <dt><span>Годовой расход воды</span><div></div></dt>
    <dd><%= item.annual_consumption %></dd>
    <% } %>

    <% if(item.maximum_temperature){ %>
    <dt><span>Опция на максимальную температуру</span><div></div></dt>
    <dd><%= item.maximum_temperature %></dd>
    <% } %>

    <% if(item.door){ %>
    <dt><span>Дверца</span><div></div></dt>
    <dd><%= item.door %></dd>
    <% } %>

</dl>